body {
	background-color: #888888;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#game {
	position: absolute;
	display: flex;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#leftpanel {
	height: 100%;
	width: 33%;
	overflow: hidden;
	padding: 15px 15px;
	float: left;
}

#leftCanvas {
	cursor: pointer;
	background-color: black;
}

#middlepanel {
	margin-right: 15px;
	height: 100%;
	width: 33%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: white;
	padding: 15px 15px;
	float: left;
}

#rightpanel {
	height: 100%;
	width: 33%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 15px 15px;
	float: left;
}

#greeting {
	cursor: pointer;
}

.grayed {
	background-color: #666;
}

.notgrayed {
	background-color: #fff;
	cursor: pointer;
}

.creatureName {
	font-size: 30px;
}

.creatureQuantity {
	font-size: 20px;
}

.creatureCost {
	font-size: 12px;
}

.creatureCostAffordable {
	color: blue;
}

.creatureCostUnaffordable {
	color: red;
}

.tooltip {
	position: relative;
}

.tooltip .tooltipText {
	visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.button {
	width: 100%;
	padding: 10px 0;
}

button:focus {outline:0;}
